body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("rod-long-sheep-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#hint{
    margin-top: 50px;
    font-size: 70px;
    color: whitesmoke;
}

.val{
    font-size: 50px;
    color: whitesmoke;
    height: 70px;
    width: 250px;
    text-align: center;
}

#inc, #decr, #res{

    height: 70px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    background-color: maroon;
    color: whitesmoke;
}